$black: #212121;
$white: #FFFFFF;
$blue: #3DABF7;
$lightblue: #79C8FF;
$green: #23E1A6;
$lightgreen: #77EB98;
$pink: #FCC3C3;
$gray: #DFE6EB;

$background: #FAFCFE;
$black-background: #0E1D27;

$duration: .4s;
$fast-duration: .3s;

$bold: 'Lato Bold';
$semibold: 'Lato SemiBold';
$regular: 'Lato Regular';
$medium: 'Lato Medium';
$heavy: 'Lato Heavy';
