@import './fonts';
@import './variables';
@import './components/all';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
  font-family: $bold;
}

.container {
  max-width: 1280px;
  margin: 0 auto 0 auto;
}

#root {
  font-size: 14px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

header {
  .header-wrapper {
    padding: 19px 50px 16px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    .header-language {
      border: none;
      outline: none;
      cursor: pointer;
      margin-left: 26px;
      margin-right: auto;
      display: flex;

      font-family: $semibold, sans-serif;
      font-size: 14px;

      .dropdown-icon {
        margin-left: 3px;
      }
    }

    .volcano {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin-left: auto;

      &-img {
        border-radius: 50%;
        border: 1px solid $gray;
      }

      &-link {
        font-size: 1.14rem;
        margin-left: 14px;
      }
    }

    .additional {
      margin: 0 auto;
      width: 71px;
      margin-right: 38px;
      display: flex;
      justify-content: space-between;
    }

    .profile {
      width: 128px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-name {
        font-family: $semibold;
        font-size: 14px;
        color: $black;
      }
      a {
        display: flex;
      }
    }
  }
}

.navigation {
  background-color: $black-background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  li {
    list-style: none;
    display: flex;
    align-items: center;

    .navigation-item {
      margin-left: 23px;
    }
  }

  svg {
    cursor: pointer;
  }
  .mail-icon {
    #mail1,
    #arrow1 {
      transition: $duration all ease-in-out;
    }

    &:hover #arrow1 {
      transform: translateY(15%);
    }

    &:hover #mail1 {
      transform: translateY(10%);
    }
  }
  .calendar {
    #days,
    #days2,
    #days3 {
      transition: $duration all ease-out;
    }

    #days {
      transform: translateX(-40%);
      opacity: 0;
    }

    #days2 {
      transform: translate(0);
    }

    #days3 {
      transform: translateX(-100%);
    }

    &:hover #days2 {
      transform: translateX(100%);
      opacity: 0;
    }

    &:hover #days3 {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &-wrapper {
    height: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-container {
    padding: 59px 28px 60px 50px;
  }

  .navigation-card {
    text-align: center;
    border: 1px solid #8494a1;
    padding: 19px 20px 24px 22px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: $regular;
      max-width: 250px;
    }

    &-title {
      color: $white;
    }

    &-desc {
      color: $white;
    }

    &-mail {
      cursor: pointer;
      color: $white;
      display: flex;
      width: 200px;
      justify-content: space-between;
      font-size: 14px;
      .mail {
        color: $blue;
      }
    }
  }
}

.dashboard {
  background-color: $background;
  border-top: 1px solid $gray;

  &-body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 275px);
    column-gap: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }

  &-container {
    padding: 33px 60px 60px 50px;
  }

  .requests {
    &-btn {
      margin-top: 42px;
    }
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 20px rgba(14, 29, 39, 0.05);

    &-top {
      padding: 14px 15px 13px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-family: $bold;
      &__title {
        font-size: 16px;
      }

      &__count {
        cursor: pointer;
        color: $blue;
        font-size: 14px;
      }
    }

    &-bottom {
      border-top: 1px solid $gray;
      padding: 21px 15px;
      display: grid;
      row-gap: 14px;
    }
  }

  .request {
    position: relative;
    padding: 10px 22px 10px 11px;
    border: 1px solid $gray;
    border-radius: 3px;

    &-profile__img {
      border-radius: 50%;
    }

    &-state {
      position: absolute;
      top: 6px;
      right: 6px;
      padding: 1px 6px;
      font-family: $regular;
      line-height: 16px;
      font-size: 10px;
      color: $white;
      border-radius: 2px;

      &.blue {
        background-color: $lightblue;
      }

      &.pink {
        background-color: $pink;
      }

      &.green {
        background-color: $lightgreen;
      }
    }

    &-top {
      display: flex;
      .request-text {
        margin-left: 10px;
      }
      .request-title {
        font-family: $medium;
        font-size: 14px;
        line-height: 18px;
        color: $black;
      }
      .request-location {
        font-family: $medium;
        line-height: 20px;
        color: #8494a1;
        font-size: 12px;
      }
    }

    &-bottom {
      margin-top: 5px;
      display: flex;
      p {
        color: $blue;
        font-family: $regular;
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  .notions {
    box-shadow: 0px 5px 20px rgba(14, 29, 39, 0.05);
    border-radius: 3px;
    &-top {
      padding: 14px 14px 13px 20px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-bottom {
      border-top: 1px solid $gray;
      padding: 0 16px 33px 20px;
    }

    .notion {
      padding-bottom: 13px;
      padding-top: 17px;
      &:not(:last-child) {
        border-bottom: 1px solid $gray;
      }
      &-title {
        text-decoration: none;
        color: $blue;
        font-family: $bold;
        font-size: 14px;
        line-height: 18px;
        &:hover {
          text-decoration: underline;
        }
      }
      &-date {
        font-family: $medium;
        font-size: 12px;
        line-height: 20px;
        color: #8494a1;
      }
      &-preview {
        font-family: $regular;
        font-size: 12px;
        line-height: 16px;
        margin-top: 6px;
      }
    }
  }

  .profile-fill {
    box-shadow: 0px 5px 20px rgba(14, 29, 39, 0.05);
    border-radius: 3px;

    &__top {
      display: flex;
      border-bottom: 1px solid $gray;
      padding: 14px 19px 13px;
    }

    &-description {
      padding: 31px 81px 23px 19px;
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 67px 23px 19px;

      .percent {
        position: relative;
        display: flex;
        svg {
          position: relative;
          width: 130px;
          height: 130px;
          circle {
            width: 110px;
            height: 110px;
            fill: none;
            stroke-width: 17;
            stroke: $gray;
            stroke-dashoffset: 0;
            stroke-dasharray: 350;
            transform: translate(10px, 10px);
            &:nth-child(1) {
              stroke: $gray;
            }
            &:nth-child(2) {
              stroke-dashoffset: calc(350 - (350 * 70) / 100);
              stroke: $green;
            }
          }
        }
        .number {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $black;
          font-family: $bold;
          font-size: 14px;
        }
      }

      button {
        margin-top: 32px;
      }
    }

    &-tags {
      display: flex;
      align-items: center;
      width: 534px;
      justify-content: space-between;
      &__tag {
        display: flex;
        align-items: center;
      }
      &__circle {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $gray;
      }
      &__text {
        margin-left: 9px;
        font-size: 14px;
        font-family: $bold;
      }
    }
  }
}

.map {
  padding: 32px 50px;
  width: 100%;
  height: 170.85px;

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-btn-wrapper {
    margin-top: 83px;
    display: flex;

    .map-btn {
      padding: 13px 160px;
      font-size: 16px;
    }
  }

  .inputs-wrapper {
    display: flex;
    flex-direction: column;

    .input-data {
      height: 58px;
      width: 100%;
      position: relative;

      label {
        font-family: 'Lato Bold';
        font-size: 12px;
      }

      input {
        outline: none;
        height: 100%;
        width: 100%;
        border: none;
        border-bottom: 2px solid silver;
        font-size: 20px;

        &:focus ~ label {
          font-family: 'Lato Bold';
          transform: translateY(-30px);
          font-size: 15px;
        }
      }

      label {
        position: absolute;
        bottom: 10px;
        left: 0;
        color: #82949f;
        pointer-events: none;
        transition: all 0.3s ease;
      }
    }

    .map-input {
      border: none;
      border-bottom: 2px solid black;
    }
  }

  .yandex-map {
    margin-top: 48px;
  }
}

.sidebar {
  transform: translateX(-100%);
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: white;
  display: block;
  font-family: 'Lato Medium';
  font-size: 18px;

  .sidebar-items-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    .sidebar-item {
      padding: 10px;
      border-bottom: 1px solid #8494a1;
      display: flex;
      cursor: pointer;
      list-style-type: none;

      .sidebar-item-text-container {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 2px;
      }

      &-text {
        display: flex;
        font-family: 'Lato Medium';
        font-size: 18px;
      }

      &-city {
        font-family: 'Lato Medium';
        font-size: 14px;
        color: #8494a1;
      }

      &-image {
        width: 180px;
        height: 140px;
      }
    }
  }

  &.active {
    left: 35%;
    transition: all 0.4s ease-in-out;
  }

  &-close {
    color: #82949f;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

@media (max-width: 1240px) {
  .profile-fill {
    &__bottom {
      display: flex;
      flex-direction: row-reverse;
      .profile-fill-tags {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      .profile-fill-description {
        padding: 10px;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .dashboard-body {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .navigation-container {
    padding: 10px;
    margin: 0;
  }

  .dashboard {
    .notions {
      margin-top: 16px;
    }
    .profile-fill {
      &__top {
        padding: 10px;
        justify-content: center;
      }
      &__bottom {
        svg {
          margin-top: 10px;
        }
        flex-direction: column-reverse;
        padding: 20px 10px;
        .btn.btn-green {
          padding: 10px 20px;
          width: 200px;
        }
      }
      .percent {
        display: flex;
      }
      &-tags {
        margin-top: 8px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        flex-direction: column;
        &__text {
          margin-left: 5px;
        }
      }
    }
  }

  .navigation {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .navigation-wrapper {
      padding: 10px 5px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      width: 100vw;
      margin: 0;
      height: 100px;
      font-size: 10px;
      li {
        a {
          margin-left: 4px;
        }
        svg,
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .navigation-card {
      display: none;
    }
  }

  header {
    .header-wrapper {
      .header-img {
        width: 150px;
      }

      .header-language {
        margin-left: 10px;
        margin-right: auto;
      }
      .volcano-link {
        font-size: 14px;
      }
    }
  }
  .navigation {
    .navigation-wrapper {
      li {
        img,
        svg {
          width: 34px;
        }
      }
    }
    .navigation-card {
      padding: 17px 18px 22px 20px;
    }
  }
  .dashboard-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  header {
    .header-wrapper {
      .header-language {
        margin-left: 8px;
      }
      .volcano-link {
        font-size: 12px;
      }

      .profile {
        &-name {
          font-size: 12px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    .header-wrapper {
      .header-img {
        width: 100px;
      }

      .header-language {
        margin-left: 6px;
      }

      .volcano-link {
        font-size: 10px;
        margin: auto;
      }

      .additional {
        width: 50px;

        &__link img {
          width: 70%;
        }
      }

      .profile {
        &-name {
          font-size: 10px;
        }
      }
      .header-language {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 650px) {
  header {
    .header-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 50px;

      .header-logo {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header-img {
        width: 150px;
      }

      .header-language {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
        font-size: 14px;
      }

      .additional {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .profile {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        &-name {
          font-size: 14px;
        }
      }

      .volcano {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;

        &-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 520px) {
  header {
    .header-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 50px;

      .header-logo {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .header-img {
        width: 150px;
      }

      .header-language {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        font-size: 14px;
      }

      .additional {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .profile {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        &-name {
          font-size: 14px;
        }
      }

      .volcano {
        display: none;
      }
    }
  }
}
